@import './variables.css';

.content {
    padding: 32px 40px;
    max-width: var(--max-content);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    margin: auto;
    min-height: calc(100vh - 168px);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
}

.center {
    text-align: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-logo);
    font-weight: 700;
    text-decoration: none;
}


h1 {
    font-size: 34px;
    line-height: 40px;
    color: var(--color-text-h);
}

.titles {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: var(--color-text-h);
}

p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-p);
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.link:hover {
    color: var(--color-hover);
}

.linkWithIcon {
    display: flex;
    gap: var(--text-gap-small);
    align-items: center;
    text-decoration: none;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    gap: var(--text-gap);
}

.input {
    background-color: var(--color-gray);
    border-radius: 4px;
    padding: 14px 12px;
    border: none;
    color: var(--color-text-h);
}

.input::placeholder {
    color: #888888;
    opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.select {
    appearance: none;
    background-image: url(/src/assets/dropdown.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    padding-right: 36px;
    cursor: pointer;
}

.label {
    font-size: 12px;
    line-height: 16px;
    word-spacing: 1.2px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text-p);
}

.placeholder {
    font-size: 16px;
    color: var(--color-text-placeholder);
}

.warning {
    font-size: 12px;
    line-height: 16px;
    word-spacing: 1.2px;
    font-weight: 600;
    color: var(--color-warning);
}

.disclaimer {
    font-size: 12px;
    font-weight: 500;
    line-height: 19.5px;
}

.button-primary {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-text-inverse);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    gap: var(--text-gap);
    padding: 16px 24px;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    border: none;
}

.button-primary:hover {
    background-color: var(--color-hover);
}

.button-secondary {
    cursor: pointer;
    background-color: var(--color-gray);
    color: var(--color-text-h);
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    gap: var(--text-gap);
    padding: 16px 24px;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    border: none;
}

.button-small {
    font-weight: 400;
    padding: 8px 16px;
}

.button-with-icon {
    padding-left: 46px;
    position: relative;
}

.button-with-icon::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.unselectable {
    cursor: default;
}