.heroSection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.addButton::before {
    background-image: url(/src/assets/plus.svg);
}

.filterSection {
    background: var(--color-container-bg);
    padding: 16px;
    display: flex;
    gap: var(--gap-medium);
    justify-content: space-between;
}

.statusFilter {
    padding: 4px;
    display: flex;
    background-color: white;
    gap: var(--text-gap-small);
}

.filterBtn {
    background-color: white;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    padding: 6px 16px;
    cursor: pointer;
    padding: 6px 16px;
}

.filterBtnActive {
    background-color: var(--color-primary);
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.noCampaignContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}