.heroSection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.codeContainer {
    display: flex;
    gap: var(--gap-small);
}

.codeContainer>button {
    color: var(--color-text-p);
    cursor: pointer;
    background: var(--color-background);
    border: none;
}

.siteCode {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    color: var(--color-text-gray);
    margin-top: var(--text-gap-small);
    font-family: var(--text-font-secondary);
}

.heroButtons {
    display: flex;
    gap: var(--gap-small);
}

.campaignBtn::before {
    background-image: url("/src/assets/campaign.svg");
}

.reportBtn::before {
    background-image: url("/src/assets/report.svg");
}

.dashboardSection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.filters {
    display: flex;
    gap: var(--gap-small);
}

.topRow {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--gap-medium);
}

.overviewCardContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.chatContainer {
    background-color: white;
    padding: 24px;
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--text-gap-small);
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.charOptionContainer {
    display: flex;
    gap: var(--text-gap);
}

.charOption {
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    padding: 4px 12px;
    background-color: white;
    border: none;
    border-radius: 12px;
    color: var(--color-text-p);
}

.charOptionActive {
    color: var(--color-text-h);
    background-color: var(--color-light);
}

.previewSection {
    display: flex;
    gap: var(--gap-medium);
}

.previewContainer {
    padding: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    width: 100%;
    border-radius: var(--radius-md);
}

.previewHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.previewHeader>div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: var(--radius-sm);
}

.campaignIcon {
    background-color: #E5EDF9;
    background-image: url("../assets/campaign-blue.svg");
}

.reportIcon {
    background-color: #E5EFEC;
    background-image: url("../assets/report-green.svg");
}

.viewAll {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-h);
}

.newCampaign::before {
    background-image: url("../assets/plus.svg");
}

.newReport::before {
    background-image: url("../assets/report.svg");
}

.campaignContainer {
    display: flex;
    flex-direction: column;
    gap: var(--text-gap);
}

.campaignPreview {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
    border-radius: var(--radius-sm);
}

.reportContainer {
    padding: 24px;
    background-color: var(--color-background);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.reportDetail {
    display: flex;
    flex-direction: column;
    gap: var(--text-gap-small);
}

.reportLabel {
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 16px;
    color: var(--color-text-gray);
    font-weight: 600;
}

.reportUrl {
    color: var(--color-text-h);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.reportAt {
    font-size: 14px;
    line-height: 20px;
}

.scoreContainer {
    display: flex;
    gap: var(--gap-medium);
}

.scoreContainer>div {
    display: flex;
    width: 100%;
    padding: 24px;
    border-radius: var(--radius-md);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2F4F6;
}

.score {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.green {
    color: var(--color-good);
}

.blue {
    color: var(--color-primary);
}